<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>All Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-card *ngFor="let task of tasks">
    <ion-card-header>
      <ion-card-subtitle>{{ task.date | date }}</ion-card-subtitle>
      <ion-card-title>{{ task.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ task.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
