<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>All Tasks</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="clearAll()" color="primary">
        <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="getAllTasks().length > 0; else elseBlock">
    <ion-card (dblclick)="completed(task.id)" *ngFor="let task of getAllTasks()">
      <ion-card-header>
        <ion-card-subtitle>{{ task.date | date }}</ion-card-subtitle>
        <ion-card-title>{{ task.title }}</ion-card-title>
        <ion-card-subtitle>{{ task.is_completed ? 'Completed' : '' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ task.description }}
      </ion-card-content>
      <ion-card-content style="display: flex; justify-content: center;">
        <ion-button (click)="removeTask(task.id)" fill="clear" style="width: 50%;">Remove</ion-button>
        <ion-button (click)="completed(task.id)" style="width: 50%;">Done</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #elseBlock>
    <div class="ion-margin ion-text-center">You have not added any tasks yet.</div>
  </ng-template>
</ion-content>
